<!DOCTYPE html>
<html lang="en">
<head>
  <title>Property System Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Property Admin SLIM + TWIG Edition ;)</h2>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/properties/add">Add Property</a></li>
      <li><a href="/properties">List Properties</a></li>
      <li><a href="/properties/get-zoopla">Get Zoopla Properties</a></li>
      <li><a href="/properties/map">Property Map</a></li>
      
    </ul>
  </div>
</nav>
